<div class="sticky top-0">
  <div
    class="bg-white flex gap-2 pb-2 items-center"
    data-testid="org-guide-versions"
  >
    <%= render "svgs/#{org}_logo", width: 24, height: 24 %>
    <%= render "doc_pages/version_select",
              id: "org-guide-versions",
              version: version,
              other_versions: other_versions,
              path_prefix: path_prefix %>
  </div>
  <div class="bg-gradient-to-b from-white to-transparent h-4 pointer-events-none"></div>
</div>

<nav>
  <%= render_slot :nav %>
</nav>
