<div
  class="
    hidden lg:block
    lg:overflow-y-auto flex-1 pr-4 scrolling-panel
    lg:scrolling-panel--with-bottom-overlay
  "
  data-defo-ensure-active-nav-link-visible="<%= { id: "desktop-pages-nav" }.to_json %>"
>
  <div class="sticky top-0">
    <div class="bg-linear-to-b from-white to-transparent h-4 pointer-events-none"></div>
  </div>

  <%# TODO: Make simple yield? %>
  <nav class="hidden lg:block"><%= render_slot :nav %></nav>
</div>
