<% if headings.length > 0 %>
  <div class="absolute top-8 bottom-0 right-full w-9 overflow-hidden">
    <div
      class="
        toc-indicator lg:block top-0 absolute right-[calc(100%)+var(--spacing)*4)]
        hidden transition-transform duration-500
        ease-in-out scale-0
      "
    >
      <%= render "svgs/#{org}_logo", width: 20, height: 20 %>
    </div>
  </div>
  <div
    id="toc-scrolling-panel"
    class="
      flex-1 overflow-y-auto over scrolling-panel
      scrolling-panel--with-bottom-overlay
    "
  >
    <div class="sticky top-0">
      <div class="bg-white flex gap-2">
        <h2
          class="
            font-mono text-xs font-semibold tracking-wider uppercase
            text-primary pt-1 mb-3
          "
        >
          On this page
        </h2>
      </div>
      <div
        class="
          bg-gradient-to-b from-white to-transparent h-2
          pointer-events-none
        "
      ></div>
    </div>

    <nav
      data-defo-toc-scroll="<%= { anchorContainerSelector: ".content", "scrollReferenceSelector": "#toc-scrolling-panel", breakpoints: ["lg"] }.to_json %>"
    >
      <%= render "doc_pages/toc_desktop_headings", headings:, testid: "headings-toc", depth: 0 %>
    </nav>
  </div>
<% end %>
