<% latest_listed_version_url = version_links[latest_listed_version] %>
<% is_preview = Gem::Version.new(version.delete_prefix("v")) > Gem::Version.new(latest_listed_version.delete_prefix("v")) %>

<div
  class="
    flex rounded-lg border-2 text-md p-2 pr-3 gap-2 mb-5
    border-hanakai-300 bg-hanakai-50 dark:border-hanakai-700 dark:bg-hanakai-900
    order-2 lg:order-0 lg:items-center
  "
>
  <%= render "svgs/icons/exclamation_mark", width: 20, height: 20, class_name: "fill-rom-500" %>

  <div class="flex-1 lg:flex lg:flex-row">
    <p class="lg:flex-1 lg:block inline">
      <% if is_preview %>
        You’re viewing a preview of guides for version
        <%= version %>
        .
      <% else %>
        You’re viewing guides for version
        <%= version %>
        .
      <% end %>
    </p>

    <a
      class="text-rom-500 dark:text-rom-400"
      href="<%= latest_listed_version_url %>"
    >
      <% if is_preview %>
        View latest stable ->
      <% else %>
        View latest ->
      <% end %>
    </a>
  </div>
</div>
