<div
  class="
    flex rounded-lg border-2 text-md p-2 pr-3 gap-2 mb-5
    border-hanakai-300 bg-hanakai-50
    order-2 lg:order-0 lg:items-center
  "
>
  <%= render "svgs/icons/exclamation_mark", width: 20, height: 20, class_name: "fill-sky-500" %>
  <div class="flex-1 flex flex-col lg:flex-row">
    <p class="flex-1">
      You’re viewing documentation for version <%= version %>
    </p>
    <a class="text-sky-500" href="<%= latest_version_url %>">View latest -></a>
  </div>
</div>
