<li class="text-base mb-0.5 <%= class_name if defined?(class_name) %>">
  <a
    class="
      hover:underline hover:decoration-(--hk-color-text-link-underline)
      hover:decoration-[3px] [text-decoration-skip-ink:none]
    "
    href="<%= url %>"
  >
    <%= label %>
  </a>
</li>
