<button
  class="md:hidden flex p-2 items-center cursor-pointer"
  data-defo-toggle-class="<%= {
        clickAway: false,
        triggerToggleClassName: "active",
        targetSelector: "#nav-mobile",
        targetToggleClassName: "h-0 h-auto collapse"
        }.to_json %>"
>
  <%= render "svgs/icons/list", height: 18, width: 18, class_name: "fill-current [.active_&]:hidden" %>
  <%= render "svgs/icons/x", height: 18, width: 18, class_name: "fill-current hidden [.active_&]:block" %>
</button>
