<nav class="hidden md:flex flex-1 text-lg font-bold py-3">
  <ul class="flex flex-1">
    <li>
      <a
        class="flex items-center px-3 py-2 leading-tight rounded-xl gap-2"
        href="/guides"
      >
        Guides <%= render "icons/caret_down", height: 12, width: 12, class_name: "fill-current" %>
      </a>
    </li>
    <li>
      <a
        class="flex items-center px-3 py-2 leading-tight rounded-xl gap-2"
        href="/docs"
      >
        Docs <%= render "icons/caret_down", height: 12, width: 12, class_name: "fill-current" %>
      </a>
    </li>
    <li>
      <a
        class="flex items-center px-3 py-2 leading-tight rounded-xl gap-2"
        href="/blog"
      >
        Blog
      </a>
    </li>
    <li>
      <a
        class="flex items-center px-3 py-2 leading-tight rounded-xl gap-2"
        href="/community"
      >
        Community
      </a>
    </li>
    <li>
      <a
        class="flex items-center px-3 py-2 leading-tight rounded-xl gap-2"
        href="/conduct"
      >
        Conduct
      </a>
    </li>
    <li>
      <a
        class="flex items-center px-3 py-2 leading-tight rounded-xl gap-2"
        href="/sponsor"
      >
        Sponsor
      </a>
    </li>
  </ul>
</nav>
