<% content_for :title, "Hanami" %>

<div class="">
  <h1>Hanami</h1>
  <%= render "svgs/hanami_logo", width: 110, height: 106 %>

  <div class="">
    <p>Build Ruby apps that grow with you.</p>

    <p>
      From your first feature to your hundredth, Hanami keeps your code
      organized and maintainable.
    </p>

    <p>
      Separated concerns, explicit business logic, and modular architecture give
      you the foundation to build apps that last.
    </p>

    <a href="#">
      Get started
      <%= render "svgs/icons/arrow_right", width: 16, height: 16, class_name: "fill-current -mt-0.5" %>
    </a>
  </div>
</div>

<div class="flex flex-col lg:max-w-[80%] mx-auto">
  <!-- Outer -->
  <div class="flex items-center">
    <!-- Comment -->
    <div class="flex-1">
      <h2>Database access done right</h2>

      <div class="">
        <p>
          Hanami gives you a <a href="#">dedicated database layer</a> so you
          have one place for all your queries, from simple to complex.
        </p>

        <p>
          Relations define your data access patterns, repositories compose them
          for your business logic, and structs give you value objects you can
          use throughout your app.
        </p>

        <p>
          This means as your app grows, your database layer stays focused and
          maintainable.
        </p>
      </div>
    </div>

    <!-- Code -->
    <div class="flex-1 rounded-lg bg-secondary-subtle border border-blue-300">
      <!-- TODO: render from Markdown -->
      <div class="border-b border-b-blue-300 px-4 py-4">
        <pre class="syntax-highlighting"><code># app/relations/articles.rb class Articles < Hanami::DB::Relation schema :articles, infer: true def published where(published: true).order { created_at.desc } end end        </code></pre>
      </div>

      <div class="border-b border-b-blue-300 px-4 py-4">
        <pre class="syntax-highlighting"><code># app/repos/article_repo.rb class ArticleRepo < MyApp::Repo def update(id, attributes) articles.by_pk(id).changeset(:update, attributes ).commit end def find(id) articles.published.by_pk(id).one! end def latest articles.published.limit(10).to_a end end        </code></pre>
      </div>

      <div class="px-4 py-4">
        <pre class="syntax-highlighting"><code># app/repos/article_repo.rb class ArticleRepo < MyApp::Repo def update(id, attributes) articles.by_pk(id).changeset(:update, attributes ).commit end def find(id) articles.published.by_pk(id).one! end def latest articles.published.limit(10).to_a end end        </code></pre>
      </div>
    </div>
  </div>
</div>
