<span data-defo-replace-with-template>
  Dry
  <template>
    <span class="inline-flex tracking-tighter font-extrabold">
      <span class="sr-only">Dry</span>
      <span aria-hidden="true">D</span><span aria-hidden="true" class="mr-[0.07em]">r</span><span aria-hidden="true">y</span>
    </span>
  </template>
</span>
