<span data-defo-replace-with-template>
  Hanakai
  <template>
    <span class="inline-flex tracking-tighter font-extrabold">
      <span class="sr-only">Hanakai</span>
      <span aria-hidden="true">H</span><span aria-hidden="true">a</span><span aria-hidden="true">n</span><span aria-hidden="true">a</span><span aria-hidden="true">k</span><span aria-hidden="true">a</span><span aria-hidden="true">i</span>
    </span>
  </template>
</span>
