<span data-defo-replace-with-template>
  Hanami
  <template>
    <span class="inline-flex tracking-tighter font-extrabold">
      <span class="sr-only">Hanami</span>
      <span aria-hidden="true">H</span><span aria-hidden="true" class="-ml-[0.019em]">a</span><span aria-hidden="true">n</span><span aria-hidden="true" class="-ml-[0.01em]">a</span><span aria-hidden="true">m</span><span aria-hidden="true" class="-ml-[0.029em]">i</span>
    </span>
  </template>
</span>
