<span data-defo-replace-with-template>
  Rom
  <template>
    <span class="inline-flex tracking-tighter font-extrabold">
      <span class="sr-only">Rom</span>
      <span aria-hidden="true">R</span><span aria-hidden="true" class="-ml-[0.015em]">o</span><span aria-hidden="true">m</span>
    </span>
  </template>
</span>
