<% content_for :title, post.title %>

<article>
  <header>
    <h2 class="search-lvl2"><%= post.title %></h2>

    <p data-testid="date"><%= post.published_date %></p>

    <p data-testid="author"><%= post.author %></p>
  </header>

  <div class="content search-content"><%= post.content_html %></div>
</article>
