.content {
  line-height: calc(var(--leading-normal) * 0.97);

  h1,
  h2,
  h3 {
    color: var(--hk-color-text-neutral);
    font-weight: var(--font-weight-bold);
    letter-spacing: -0.01em;
  }
  h4,
  h5 {
    color: var(--hk-color-text-neutral);
    font-weight: var(--font-weight-medium);
    letter-spacing: -0.01em;
  }

  h1 {
    color: var(--hk-color-text-primary);
    font-size: var(--text-3xl);
    margin-block-end: calc(var(--spacing) * 3);
  }

  h2 {
    font-size: var(--text-2xl);
    margin-block-start: calc(var(--spacing) * 7);
    margin-block-end: calc(var(--spacing) * 3);
  }

  h3 {
    font-size: var(--text-xl);
    margin-block-start: calc(var(--spacing) * 5);
    margin-block-end: calc(var(--spacing) * 3);
  }

  h4,
  h5 {
    font-size: var(--text-lg);
    margin-block-start: calc(var(--spacing) * 5);
    margin-block-end: calc(var(--spacing) * 3);
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    display: flex;
    gap: calc(var(--spacing));
    a[href^="#"] {
      order: 2;
      margin-inline-start: calc(var(--spacing) * 2);
    }
    a[href^="#"]:before {
      content: "#";
      color: var(--hk-color-text-primary);
      font-size: var(--text-lg);
      font-family: var(--font-mono);
      font-weight: var(--font-weight-normal);
      position: static;
    }
  }

  h1,
  h2 {
    a[href^="#"]:before {
      margin-block-start: calc(var(--spacing) * 1.2);
    }
  }
  h3,
  h4,
  h5 {
    a[href^="#"]:before {
      margin-block-start: calc(var(--spacing) * 0.6);
    }
  }

  p {
    font-size: var(--text-lg);
    margin-block-end: calc(var(--spacing) * 3);
  }

  ul,
  ol {
    font-size: var(--text-lg);
    margin-block-end: calc(var(--spacing) * 3);

    li {
      line-height: calc(var(--leading-normal) * 0.98);
      margin-inline-start: calc(var(--spacing) * 9);
      margin-block-end: calc(var(--spacing) * 2.5);
    }
  }

  ul li {
    list-style-type: disc;
  }

  ol li {
    list-style-type: decimal;
  }

  p,
  li {
    a {
      color: var(--hk-color-text-link);
      text-decoration-line: underline;
      text-decoration-color: var(--hk-color-text-link-underline);
      text-decoration-thickness: 3px;
      text-decoration-skip-ink: none;

      &:visited {
        color: var(--hk-color-text-link-visited);
      }

      &:active,
      &:hover {
        color: var(--hk-color-text-link-active);
      }
    }
  }

  code {
    border-radius: var(--radius-sm);
    border: 1px oklch(from var(--hk-color-bg-secondary) l c h / 0.08) solid;
    background-color: var(--hk-color-bg-secondary-subtle);
    color: oklch(from var(--hk-color-text-secondary) calc(l - 0.3) calc(c - 0.05) h);
    font-family: var(--font-mono);
    font-size: var(--text-sm);
    padding: calc(var(--spacing) * 0.75) calc(var(--spacing) * 1);
  }

  pre {
    border-radius: var(--radius-lg);
    border: 1px oklch(from var(--hk-color-bg-secondary) l c h / 0.08) solid;
    background-color: var(--hk-color-bg-secondary-subtle);
    box-shadow: var(--shadow-xs);
    font-size: var(--text-sm);
    max-width: 100%;
    overflow: auto hidden;
    padding: calc(var(--spacing) * 5);
    margin-block-start: calc(var(--spacing) * 4);
    margin-block-end: calc(var(--spacing) * 7);

    @supports not selector(::-webkit-scrollbar) {
      scrollbar-color: oklch(from var(--hk-color-bg-secondary) calc(l + 0.3) calc(c - 0.1) h)
        var(--hk-color-neutral-subtle);
    }

    &::-webkit-scrollbar {
      height: calc(var(--spacing) * 1.5);
      width: calc(var(--spacing) * 1.5);
      background-color: var(--hk-color-neutral-subtle);
    }
    &::-webkit-scrollbar-track {
      background-color: var(--hk-color-neutral-subtle);
      border-radius: var(--radius-md);
      box-shadow: inset var(--shadow-xs);
    }
    &::-webkit-scrollbar-thumb {
      border-radius: var(--radius-md);
      background-color: oklch(from var(--hk-color-bg-secondary) calc(l + 0.3) calc(c - 0.1) h);
    }

    code {
      background: transparent;
      border: none;
      padding: 0;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    code,
    pre {
      font-size: inherit;
      line-height: 1.3;
    }
  }

  table {
    margin-block-start: calc(var(--spacing) * 4);
    margin-block-end: calc(var(--spacing) * 6);
  }

  thead {
    tr {
      border-bottom: 1px var(--hk-color-neutral-subtle) solid;
    }

    th {
      border-right: 1px var(--hk-color-neutral-subtle) solid;
      font-weight: var(--font-weight-medium);
      text-align: left;
      padding: calc(var(--spacing) * 2);

      &:first-child {
        padding-inline-start: 0;
      }

      &:last-child {
        padding-inline-end: 0;
        border-right: none;
      }
    }
  }

  tbody {
    tr {
      border-bottom: 1px var(--hk-color-neutral-subtle) solid;

      &:last-child {
        border-bottom: none;
      }
    }

    td {
      border-right: 1px var(--hk-color-neutral-subtle) solid;
      text-align: left;
      padding: calc(var(--spacing) * 2);

      &:first-child {
        padding-inline-start: 0;
      }

      &:last-child {
        padding-inline-end: 0;
        border-right: none;
      }
    }
  }

  > :first-child {
    margin-block-start: 0;
  }

  hr {
    border-top: 2px var(--hk-color-neutral-subtle) solid;
    border-radius: var(--radius-xs);
  }

  .syntax-highlighting {
    background-color: var(--hk-color-bg-secondary-subtle);
    color: var(--hk-color-text-neutral);

    .block {
      /*
       * Avoid Tailwind overridding these values, could possibly be avoiding instead using
       * css_class_prefix from the underlying lib
       */
      display: inline;
    }

    /* Comments */
    .comment,
    .punctuation.definition.comment {
      color: var(--hk-color-neutral-subtle-reversed);
      font-style: italic;
    }

    /* Strings */
    .string {
      color: var(--hk-color-text-secondary);
    }

    .punctuation.definition.string {
      color: var(--hk-color-text-secondary);
    }

    /* Numbers */
    .constant.numeric {
      color: var(--hk-color-text-primary);
    }

    /* Keywords */
    .keyword,
    .storage.type,
    .storage.modifier {
      color: var(--hk-color-text-primary);
      font-weight: 600;
    }

    /* Operators */
    .keyword.operator {
      color: var(--hk-color-text-neutral);
    }

    /* Punctuation */
    .punctuation {
      color: var(--hk-color-neutral-subtle-reversed);
    }

    /* Function calls */
    .entity.name.function,
    .support.function {
      color: var(--hk-color-text-secondary);
    }

    /* Classes and types */
    .entity.name.class,
    .entity.name.type,
    .support.class,
    .support.type {
      color: var(--hk-color-text-primary);
      font-weight: 600;
    }

    /* Constants and symbols */
    .constant,
    .constant.other.symbol {
      color: var(--hk-color-text-secondary);
    }

    /* Variables */
    .variable {
      color: var(--hk-color-text-neutral);
    }

    /* Attributes */
    .entity.other.attribute-name {
      color: var(--hk-color-text-primary);
    }

    /* Tags */
    .entity.name.tag {
      color: var(--hk-color-text-primary);
    }

    /* Markup - Heading */
    .markup.heading {
      color: var(--hk-color-text-primary);
      font-weight: 700;
    }

    /* Markup - Bold */
    .markup.bold {
      font-weight: 700;
    }

    /* Markup - Italic */
    .markup.italic {
      font-style: italic;
    }

    /* Markup - Link */
    .markup.underline.link {
      color: var(--hk-color-text-link);
      text-decoration-color: var(--hk-color-text-link-underline);
    }

    /* Markup - Code */
    .markup.raw,
    .markup.inline.raw {
      color: var(--hk-color-text-secondary);
      background-color: var(--hk-color-neutral-subtle);
    }
  }
}

@variant lg {
  .content--large {
    line-height: 1.55;

    h1 {
      font-size: var(--text-4xl);
      margin-block-end: calc(var(--spacing) * 3.5);
    }

    h2 {
      font-size: var(--text-3xl);
      margin-block-start: calc(var(--spacing) * 9);
      margin-block-end: calc(var(--spacing) * 3.5);
    }

    h3 {
      font-size: var(--text-2xl);
      margin-block-start: calc(var(--spacing) * 6);
      margin-block-end: calc(var(--spacing) * 3.5);
    }

    h4,
    h5 {
      font-size: var(--text-xl);
      margin-block-start: calc(var(--spacing) * 6);
      margin-block-end: calc(var(--spacing) * 3.5);
    }

    h1,
    h2,
    h3,
    h4,
    h5 {
      position: relative;
      a[href^="#"]:before {
        padding-inline-end: calc(var(--spacing) * 2.5);
        opacity: 0;
        position: absolute;
        left: calc(var(--spacing) * -5.5);
        margin-top: calc(var(--spacing) * 2.5);
        transition-duration: 75ms;
        transition-property: opacity;
        transition-timing-function: linear;
      }
      &:hover {
        a[href^="#"]:before {
          opacity: 1;
        }
      }
    }

    p,
    ul,
    ol {
      font-size: var(--text-xl);
      margin-block-end: calc(var(--spacing) * 4.5);
    }
    ul,
    ol {
      li {
        margin-block-end: calc(var(--spacing) * 3);
      }
    }

    code {
      font-size: calc(var(--text-sm) * 1.1);
    }
    pre,
    pre code {
      font-size: var(--text-md);
    }

    pre {
      margin-block-start: calc(var(--spacing) * 5);
      margin-block-end: calc(var(--spacing) * 6);
    }
  }
}
