.content {
  line-height: calc(var(--leading-normal) * 0.97);

  h1,
  h2,
  h3 {
    color: var(--hk-color-text-neutral);
    font-weight: var(--font-weight-bold);
    letter-spacing: -0.01em;
  }
  h4,
  h5 {
    color: var(--hk-color-text-neutral);
    font-weight: var(--font-weight-medium);
    letter-spacing: -0.01em;
  }

  h1 {
    color: var(--hk-color-text-primary);
    font-size: var(--text-3xl);
    margin-block-end: calc(var(--spacing) * 3);
  }

  h2 {
    font-size: var(--text-2xl);
    margin-block-start: calc(var(--spacing) * 7);
    margin-block-end: calc(var(--spacing) * 3);
  }

  h3 {
    font-size: var(--text-xl);
    margin-block-start: calc(var(--spacing) * 5);
    margin-block-end: calc(var(--spacing) * 3);
  }

  h4,
  h5 {
    font-size: var(--text-lg);
    margin-block-start: calc(var(--spacing) * 5);
    margin-block-end: calc(var(--spacing) * 3);
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    display: flex;
    gap: calc(var(--spacing));
    a[href^="#"] {
      order: 2;
      margin-inline-start: calc(var(--spacing) * 2);
    }
    a[href^="#"]:before {
      content: "#";
      color: var(--hk-color-text-primary);
      font-size: var(--text-lg);
      font-family: var(--font-mono);
      font-weight: var(--font-weight-normal);
      position: static;
    }
  }

  h1,
  h2 {
    a[href^="#"]:before {
      margin-block-start: calc(var(--spacing) * 1.2);
    }
  }
  h3,
  h4,
  h5 {
    a[href^="#"]:before {
      margin-block-start: calc(var(--spacing) * 0.6);
    }
  }

  p {
    font-size: var(--text-lg);
    margin-block-end: calc(var(--spacing) * 3);
  }

  ul,
  ol {
    font-size: var(--text-lg);
    margin-block-end: calc(var(--spacing) * 3);

    li {
      line-height: calc(var(--leading-normal) * 0.98);
      margin-inline-start: calc(var(--spacing) * 9);
      margin-block-end: calc(var(--spacing) * 2.5);
    }
  }

  ul li {
    list-style-type: disc;
  }

  ol li {
    list-style-type: decimal;
  }

  p,
  li {
    a {
      color: var(--hk-color-text-link);
      text-decoration-line: underline;
      text-decoration-color: var(--hk-color-text-link-underline);
      text-decoration-thickness: 3px;
      text-decoration-skip-ink: none;

      &:visited {
        color: var(--hk-color-text-link-visited);
      }

      &:active,
      &:hover {
        color: var(--hk-color-text-link-active);
      }
    }
  }

  code {
    border-radius: var(--radius-sm);
    border: 1px oklch(from var(--hk-color-bg-secondary) l c h / 0.08) solid;
    background-color: var(--hk-color-bg-secondary-subtle);
    color: oklch(from var(--hk-color-text-secondary) calc(l - 0.3) calc(c - 0.05) h);
    font-family: var(--font-mono);
    font-size: var(--text-sm);
    padding: calc(var(--spacing) * 0.75) calc(var(--spacing) * 1);
  }

  pre {
    border-radius: var(--radius-lg);
    border: 1px oklch(from var(--hk-color-bg-secondary) l c h / 0.08) solid;
    background-color: var(--hk-color-bg-secondary-subtle);
    box-shadow: var(--shadow-xs);
    font-size: var(--text-sm);
    max-width: 100%;
    overflow: auto hidden;
    padding: calc(var(--spacing) * 5);
    margin-block-start: calc(var(--spacing) * 4);
    margin-block-end: calc(var(--spacing) * 7);

    @supports not selector(::-webkit-scrollbar) {
      scrollbar-color: oklch(from var(--hk-color-bg-secondary) calc(l + 0.3) calc(c - 0.1) h)
        var(--hk-color-neutral-subtle);
    }

    &::-webkit-scrollbar {
      height: calc(var(--spacing) * 1.5);
      width: calc(var(--spacing) * 1.5);
      background-color: var(--hk-color-neutral-subtle);
    }
    &::-webkit-scrollbar-track {
      background-color: var(--hk-color-neutral-subtle);
      border-radius: var(--radius-md);
      box-shadow: inset var(--shadow-xs);
    }
    &::-webkit-scrollbar-thumb {
      border-radius: var(--radius-md);
      background-color: oklch(from var(--hk-color-bg-secondary) calc(l + 0.3) calc(c - 0.1) h);
    }

    code {
      background: transparent;
      border: none;
      padding: 0;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    code,
    pre {
      font-size: inherit;
      line-height: 1.3;
    }
  }

  table {
    margin-block-start: calc(var(--spacing) * 4);
    margin-block-end: calc(var(--spacing) * 6);
  }

  thead {
    tr {
      border-bottom: 1px var(--hk-color-neutral-subtle) solid;
    }

    th {
      border-right: 1px var(--hk-color-neutral-subtle) solid;
      font-weight: var(--font-weight-medium);
      text-align: left;
      padding: calc(var(--spacing) * 2);

      &:first-child {
        padding-inline-start: 0;
      }

      &:last-child {
        padding-inline-end: 0;
        border-right: none;
      }
    }
  }

  tbody {
    tr {
      border-bottom: 1px var(--hk-color-neutral-subtle) solid;

      &:last-child {
        border-bottom: none;
      }
    }

    td {
      border-right: 1px var(--hk-color-neutral-subtle) solid;
      text-align: left;
      padding: calc(var(--spacing) * 2);

      &:first-child {
        padding-inline-start: 0;
      }

      &:last-child {
        padding-inline-end: 0;
        border-right: none;
      }
    }
  }

  > :first-child {
    margin-block-start: 0;
  }

  hr {
    border-top: 2px var(--hk-color-neutral-subtle) solid;
    border-radius: var(--radius-xs);
  }

  /* GitHub alerts */
  .markdown-alert {
    border-color: #ccc;
    border-radius: var(--radius-lg);
    border-style: solid;
    border-width: 2px;
    box-shadow: var(--shadow-xs);
    padding: calc(var(--spacing) * 4) calc(var(--spacing) * 4) calc(var(--spacing) * 4) calc(var(--spacing) * 12);
    position: relative;
    margin-block-start: calc(var(--spacing) * 5);
    margin-block-end: calc(var(--spacing) * 7);
    &:before {
      position: absolute;
      left: calc(var(--spacing) * 4);
    }
  }

  .markdown-alert-title {
    font-weight: var(--font-weight-semibold);
    font-size: var(--text-sm);
    letter-spacing: var(--tracking-wide);
    text-transform: uppercase;
    margin-block-end: calc(var(--spacing) * 1.5);
  }

  .markdown-alert-note {
    border: 2px var(--color-sky-500) solid;
    background-color: var(--color-sky-50);
    &:before {
      content: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2220%22%20height%3D%2220%22%20fill%3D%22%230063FF%22%20viewBox%3D%220%200%20256%20256%22%3E%3Cpath%20d%3D%22M208%2C32H184V24a8%2C8%2C0%2C0%2C0-16%2C0v8H136V24a8%2C8%2C0%2C0%2C0-16%2C0v8H88V24a8%2C8%2C0%2C0%2C0-16%2C0v8H48a8%2C8%2C0%2C0%2C0-8%2C8V200a32%2C32%2C0%2C0%2C0%2C32%2C32H184a32%2C32%2C0%2C0%2C0%2C32-32V40A8%2C8%2C0%2C0%2C0%2C208%2C32ZM120%2C56a8%2C8%2C0%2C0%2C1%2C16%2C0v8a8%2C8%2C0%2C0%2C1-16%2C0ZM80%2C72a8%2C8%2C0%2C0%2C1-8-8V56a8%2C8%2C0%2C0%2C1%2C16%2C0v8A8%2C8%2C0%2C0%2C1%2C80%2C72Zm80%2C96H96a8%2C8%2C0%2C0%2C1%2C0-16h64a8%2C8%2C0%2C0%2C1%2C0%2C16Zm0-32H96a8%2C8%2C0%2C0%2C1%2C0-16h64a8%2C8%2C0%2C0%2C1%2C0%2C16Zm24-72a8%2C8%2C0%2C0%2C1-16%2C0V56a8%2C8%2C0%2C0%2C1%2C16%2C0Z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E);
    }
    .markdown-alert-title {
      color: var(--color-sky-500);
    }
  }

  .markdown-alert-warning {
    border: 2px var(--color-dry-500) solid;
    background-color: var(--color-dry-50);
    &:before {
      content: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2220%22%20height%3D%2220%22%20fill%3D%22%23FF8000%22%20viewBox%3D%220%200%20256%20256%22%3E%3Cpath%20d%3D%22M235.33%2C116.72%2C139.28%2C20.66a16%2C16%2C0%2C0%2C0-22.56%2C0l-96%2C96.06a16%2C16%2C0%2C0%2C0%2C0%2C22.56l96.05%2C96.06h0a16%2C16%2C0%2C0%2C0%2C22.56%2C0l96.05-96.06a16%2C16%2C0%2C0%2C0%2C0-22.56ZM120%2C80a8%2C8%2C0%2C0%2C1%2C16%2C0v56a8%2C8%2C0%2C0%2C1-16%2C0Zm8%2C104a12%2C12%2C0%2C1%2C1%2C12-12A12%2C12%2C0%2C0%2C1%2C128%2C184Z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E);
    }
    .markdown-alert-title {
      color: var(--color-dry-500);
    }
  }

  .markdown-alert-tip {
    border: 2px var(--color-rom-500) solid;
    background-color: var(--color-rom-50);
    &:before {
      content: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2220%22%20height%3D%2220%22%20fill%3D%22%232AAD56%22%20viewBox%3D%220%200%20256%20256%22%3E%3Cpath%20d%3D%22M176%2C232a8%2C8%2C0%2C0%2C1-8%2C8H88a8%2C8%2C0%2C0%2C1%2C0-16h80A8%2C8%2C0%2C0%2C1%2C176%2C232Zm40-128a87.55%2C87.55%2C0%2C0%2C1-33.64%2C69.21A16.24%2C16.24%2C0%2C0%2C0%2C176%2C186v6a16%2C16%2C0%2C0%2C1-16%2C16H96a16%2C16%2C0%2C0%2C1-16-16v-6a16%2C16%2C0%2C0%2C0-6.23-12.66A87.59%2C87.59%2C0%2C0%2C1%2C40%2C104.49C39.74%2C56.83%2C78.26%2C17.14%2C125.88%2C16A88%2C88%2C0%2C0%2C1%2C216%2C104Zm-50.34%2C2.34a8%2C8%2C0%2C0%2C0-11.32%2C0L128%2C132.69l-26.34-26.35a8%2C8%2C0%2C0%2C0-11.32%2C11.32L120%2C147.31V184a8%2C8%2C0%2C0%2C0%2C16%2C0V147.31l29.66-29.65A8%2C8%2C0%2C0%2C0%2C165.66%2C106.34Z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E);
    }
    .markdown-alert-title {
      color: var(--color-rom-500);
    }
  }

  .markdown-alert-important {
    border: 2px var(--color-hanakai-300) solid;
    background-color: var(--color-hanakai-50);
    &:before {
      content: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2220%22%20height%3D%2220%22%20fill%3D%22%230063FF%22%20viewBox%3D%220%200%20256%20256%22%3E%3Cpath%20d%3D%22M200%2C24H56A16%2C16%2C0%2C0%2C0%2C40%2C40V216a16%2C16%2C0%2C0%2C0%2C16%2C16H200a16%2C16%2C0%2C0%2C0%2C16-16V40A16%2C16%2C0%2C0%2C0%2C200%2C24ZM128%2C160a12%2C12%2C0%2C1%2C1-12%2C12A12%2C12%2C0%2C0%2C1%2C128%2C160Zm-8-24V80a8%2C8%2C0%2C0%2C1%2C16%2C0v56a8%2C8%2C0%2C0%2C1-16%2C0Z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E);
    }
    .markdown-alert-title {
      color: var(--color-sky-500);
    }
  }

  .markdown-alert-caution {
    border: 2px var(--color-red-500) solid;
    background-color: var(--color-red-50);
    &:before {
      content: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2220%22%20height%3D%2220%22%20fill%3D%22%23FB2C36%22%20viewBox%3D%220%200%20256%20256%22%3E%3Cpath%20d%3D%22M120%2C16V8a8%2C8%2C0%2C0%2C1%2C16%2C0v8a8%2C8%2C0%2C0%2C1-16%2C0Zm80%2C32a8%2C8%2C0%2C0%2C0%2C5.66-2.34l8-8a8%2C8%2C0%2C0%2C0-11.32-11.32l-8%2C8A8%2C8%2C0%2C0%2C0%2C200%2C48ZM50.34%2C45.66A8%2C8%2C0%2C0%2C0%2C61.66%2C34.34l-8-8A8%2C8%2C0%2C0%2C0%2C42.34%2C37.66ZM232%2C176v24a16%2C16%2C0%2C0%2C1-16%2C16H40a16%2C16%2C0%2C0%2C1-16-16V176a16%2C16%2C0%2C0%2C1%2C16-16V128a88%2C88%2C0%2C0%2C1%2C88.67-88c48.15.36%2C87.33%2C40.29%2C87.33%2C89v31A16%2C16%2C0%2C0%2C1%2C232%2C176ZM134.68%2C87.89C153.67%2C91.08%2C168%2C108.32%2C168%2C128a8%2C8%2C0%2C0%2C0%2C16%2C0c0-27.4-20.07-51.43-46.68-55.89a8%2C8%2C0%2C1%2C0-2.64%2C15.78ZM216%2C200V176H40v24H216Z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E);
    }
    .markdown-alert-title {
      color: var(--color-red-500);
    }
  }

  /* Syntax highlighting */
  .syntax-highlighting {
    background-color: var(--hk-color-bg-secondary-subtle);
    color: var(--hk-color-text-neutral);

    .block {
      /*
       * Avoid Tailwind overridding these values, could possibly be avoiding instead using
       * css_class_prefix from the underlying lib
       */
      display: inline;
    }

    /* Comments */
    .comment,
    .punctuation.definition.comment {
      color: var(--hk-color-neutral-subtle-reversed);
      font-style: italic;
    }

    /* Strings */
    .string {
      color: var(--hk-color-text-secondary);
    }

    .punctuation.definition.string {
      color: var(--hk-color-text-secondary);
    }

    /* Numbers */
    .constant.numeric {
      color: var(--hk-color-text-primary);
    }

    /* Keywords */
    .keyword,
    .storage.type,
    .storage.modifier {
      color: var(--hk-color-text-primary);
      font-weight: 600;
    }

    /* Operators */
    .keyword.operator {
      color: var(--hk-color-text-neutral);
    }

    /* Punctuation */
    .punctuation {
      color: var(--hk-color-neutral-subtle-reversed);
    }

    /* Function calls */
    .entity.name.function,
    .support.function {
      color: var(--hk-color-text-secondary);
    }

    /* Classes and types */
    .entity.name.class,
    .entity.name.type,
    .support.class,
    .support.type {
      color: var(--hk-color-text-primary);
      font-weight: 600;
    }

    /* Constants and symbols */
    .constant,
    .constant.other.symbol {
      color: var(--hk-color-text-secondary);
    }

    /* Variables */
    .variable {
      color: var(--hk-color-text-neutral);
    }

    /* Attributes */
    .entity.other.attribute-name {
      color: var(--hk-color-text-primary);
    }

    /* Tags */
    .entity.name.tag {
      color: var(--hk-color-text-primary);
    }

    /* Markup - Heading */
    .markup.heading {
      color: var(--hk-color-text-primary);
      font-weight: 700;
    }

    /* Markup - Bold */
    .markup.bold {
      font-weight: 700;
    }

    /* Markup - Italic */
    .markup.italic {
      font-style: italic;
    }

    /* Markup - Link */
    .markup.underline.link {
      color: var(--hk-color-text-link);
      text-decoration-color: var(--hk-color-text-link-underline);
    }

    /* Markup - Code */
    .markup.raw,
    .markup.inline.raw {
      color: var(--hk-color-text-secondary);
      background-color: var(--hk-color-neutral-subtle);
    }
  }
}

@variant lg {
  .content--large {
    line-height: 1.55;

    h1 {
      font-size: var(--text-4xl);
      margin-block-end: calc(var(--spacing) * 3.5);
    }

    h2 {
      font-size: var(--text-3xl);
      margin-block-start: calc(var(--spacing) * 9);
      margin-block-end: calc(var(--spacing) * 3.5);
    }

    h3 {
      font-size: var(--text-2xl);
      margin-block-start: calc(var(--spacing) * 6);
      margin-block-end: calc(var(--spacing) * 3.5);
    }

    h4,
    h5 {
      font-size: var(--text-xl);
      margin-block-start: calc(var(--spacing) * 6);
      margin-block-end: calc(var(--spacing) * 3.5);
    }

    h1,
    h2,
    h3,
    h4,
    h5 {
      position: relative;
      a[href^="#"]:before {
        padding-inline-end: calc(var(--spacing) * 2.5);
        opacity: 0;
        position: absolute;
        left: calc(var(--spacing) * -5.5);
        margin-top: calc(var(--spacing) * 2.5);
        transition-duration: 75ms;
        transition-property: opacity;
        transition-timing-function: linear;
      }
      &:hover {
        a[href^="#"]:before {
          opacity: 1;
        }
      }
    }

    p,
    ul,
    ol {
      font-size: var(--text-xl);
      margin-block-end: calc(var(--spacing) * 4.5);
    }
    ul,
    ol {
      li {
        margin-block-end: calc(var(--spacing) * 3);
      }
    }

    code {
      font-size: calc(var(--text-sm) * 1.1);
    }
    pre,
    pre code {
      font-size: var(--text-md);
    }

    pre {
      margin-block-start: calc(var(--spacing) * 5);
      margin-block-end: calc(var(--spacing) * 6);
    }
  }
}
