@font-face {
  font-family: "Maple Mono NL";
  src: url("../fonts/maple-mono/maple-mono-nl-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Maple Mono NL";
  src: url("../fonts/maple-mono/maple-mono-nl-italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Maple Mono NL";
  src: url("../fonts/maple-mono/maple-mono-nl-semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Maple Mono NL";
  src: url("../fonts/maple-mono/maple-mono-nl-bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Faire Sprig Sans";
  src: url("../fonts/faire-sprig-sans/faire-sprigsans-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Faire Sprig Sans";
  src: url("../fonts/faire-sprig-sans/faire-sprigsans-regularitalic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Faire Sprig Sans";
  src: url("../fonts/faire-sprig-sans/faire-sprigsans-bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Faire Sprig Sans";
  src: url("../fonts/faire-sprig-sans/faire-sprigsans-bolditalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Faire Sprig Sans";
  src: url("../fonts/faire-sprig-sans/faire-sprigsans-black.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Faire Sprig Sans";
  src: url("../fonts/faire-sprig-sans/faire-sprigsans-blackitalic.woff2") format("woff2");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}
