.pagefind-ui {
  --pagefind-ui-scale: 0.8;
  --pagefind-ui-primary: var(--hk-bg-primary);
  --pagefind-ui-text: var(--hk-color-text-neutral);
  --pagefind-ui-background: var(--hk-color-bg-neutral);
  --pagefind-ui-border: #eeeeee;
  --pagefind-ui-tag: #eeeeee;
  --pagefind-ui-border-width: 2px;
  --pagefind-ui-border-radius: var(--radius-md);
  --pagefind-ui-image-border-radius: var(--radius-md);
  --pagefind-ui-image-box-ratio: 3 / 2;
  --pagefind-ui-font: var(--font-sans);
}

#pagefind-overrides-hook {
  .pagefind-ui {
    min-height: 101%;
  }

  /* Hide the clear button, we replace it with our own button to close the modal */
  .pagefind-ui__search-clear {
    display: none;
  }

  .pagefind-ui__form {
    &:before {
      display: none;
    }
  }

  .pagefind-ui__search-input {
    box-shadow: 0 12px 10px 0 var(--hk-color-bg-neutral);
    outline: 5px var(--hk-color-bg-neutral) solid;
    top: 0;
    position: sticky;
    z-index: 8;
    padding-left: calc(var(--spacing) * 4);

    &:focus-visible {
      border-color: var(--hk-color-b-primary);
    }
  }

  .pagefind-ui__result {
    padding: calc(var(--spacing) * 3.5) 0 calc(var(--spacing) * 4);
  }

  .pagefind-ui__result-inner {
    margin-top: 0;
  }

  mark {
    background-color: var(--color-hanakai-200);
    color: inherit;
    border-radius: 2px;
    padding: 0 2px;
  }
}
